.welcome-message-form {
    align-self: flex-end;
    position: absolute;
}

.welcome-message-text {
    align-self: flex-end;
    bottom: 0;
    font-size: 40px;
    position: absolute;
    top: 0;
}
